# Git
.git
.gitignore

# Environments
.env
venv/
env/

# Python Cache
__pycache__/
*.pyc
.pytest_cache/

# 🚨 EXCLUDE FRONTEND (Saves massive build time and space)
src/ui/

# Exclude locally generated PDFs
outputs/
*.pdf

# IDEs
.vscode/
.idea/